.App {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gn-wrapper {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  height: 100%;
  width: 80%;
  max-width: 1400px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.settings-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 2rem;
  justify-content: center;
  justify-items: center;
}

.targetStringContainer,
.populationSizeContainer,
.mutationRateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  width: 90%;
  align-items: baseline;
  font-size: clamp(1rem, 2vw, 2rem);
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: clamp(1rem, 2vw, 2rem);
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.targetString,
.populationSize {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.generation, .target, .best-individuo {
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.population {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.individual {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 2rem;
  transition: background-color 0.3s;
}

.individual.changed {
  border: 1px solid #e0ffee; /* Cor de destaque para mudanças */
}

.startSimulationButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 2rem;
  border: 1px solid #ccc;
  cursor: pointer;
}

input.invalid {
  border: 1px solid red;
}

button.invalid {
  background-color: #4d4d4d81;
  cursor: not-allowed;
}